<fieldset class="form">
  <div class="fieldcontain required">
    <label for="datePublished">Date Published
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="datePublished" id="datePublished" ng-model="vm.post.datePublished" type="date" placeholder="YYYY-MM-DD" />
  </div>
  <div class="fieldcontain required">
    <label for="title">Title
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="title" id="title" ng-model="vm.post.title" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="body">Body
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="body" id="body" ng-model="vm.post.body" type="text" />
  </div>
</fieldset>